* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
}

input, button {
    border: none;
}

button:hover {
    cursor: pointer;
}